/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{  
  background: #2ba5bb;
}

h1{
  text-align: center;
  font-size: 60px;
  color: #fff;
  font-weight: 1000;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

a{
  color: rgb(39, 43, 117);
}


p{
  padding: 10vh;
  font-size: 40px;
  color: white;
  margin-top: 10px;
  text-align: center;
}
